.container.mt-3 {
    max-width: 95%; /* Adjust the percentage as needed */
    margin: 0 auto; /* Center the container */
}

.icon {
    width: 20px; /* Adjust the width and height as needed */
    height: 20px;
    margin-right: 5px;
}

.img-preview {
    cursor: pointer; /* Add pointer cursor to image thumbnails */
}

table tr td:nth-child(2) {
    text-align: right;
}

.table-container {
    max-height: calc(100vh - 100px); /* Set the maximum height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
}

table {
    background-color: #fff;
    position: relative; /* Necessary for fixed headers */
}

th {
    position: sticky; /* Sticky headers */
    top: 0;
    background-color: #f7f7f7; /* Header background color */
    z-index: 2; /* Place header above table cells */
}

td {
    padding: 8px; /* Add padding for table cells */
    vertical-align: middle;
}