html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row.flex-grow-1 {
    flex-grow: 1;
}

/* Make anchors only show underline on hover */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

 /* Add pointer cursor to image thumbnails */
.img-preview {
    cursor: pointer;
}

table tr td:nth-child(2) {
    text-align: right;
}

.table-container {
    max-height: calc(100vh - 100px); /* Set the maximum height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
}

table {
    background-color: #fff;
    position: relative; /* Necessary for fixed headers */
}

th {
    position: sticky; /* Sticky headers */
    top: 0;
    background-color: #f7f7f7; /* Header background color */
    z-index: 2; /* Place header above table cells */
}

td {
    padding: 8px; /* Add padding for table cells */
    vertical-align: middle;
}

#vis-panel {
    width: 100%; /* or the desired width */
    height: 100%; /* or the desired height */
    position: relative; /* This is required to properly position the child absolutely */
}  